# api base url | Production server domain name or IP address
NEXT_PUBLIC_BASE_URL=

# MSSQL Database Credentials
DB_SERVER=
DB_USER=
DB_PASSWORD=
DB_DATABASE=
DB_PORT=
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true
DB_POOL_MAX=10
DB_POOL_MIN=0
DB_POOL_IDLE_TIMEOUT_MILLIS=30000

LOG_CODE=7cKF4LW5xGhN