# api base url | Local development server URL
NEXT_PUBLIC_BASE_URL=http://localhost:3000/

# MSSQL Database Credentials
DB_SERVER=
DB_USER=
DB_PASSWORD=
DB_DATABASE=
DB_PORT=
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true
DB_POOL_MAX=10
DB_POOL_MIN=0
DB_POOL_IDLE_TIMEOUT_MILLIS=30000

# Logs
LOG_CODE=7cKF4LW5xGhN

#jwt
JWT_SECRET=7f8e329c2d1b5a6f9e8d7c6b5a4b3c2d1e0f9a8b7c6d5e4f3a2b1c0d9e8f7a6b

