html, body {
  background: url("/img/ptn2.png") repeat center center #fff !important;
}

.payment-page-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}
