/* Welcome Banner */
.welcome-banner {
  position: relative;
  background: url("/img/img-dropbox-bg.svg") no-repeat bottom right #735dff;
  background-size: cover;
  height: 300px;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  align-items: center;

  .card-body {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
  }

  .bnr-wlcm {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.2;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .bnr-img {
    height: 40px;
  }

  .bnr-wlcm-nt {
    font-size: 18px;
    font-weight: 400;
    max-width: 50%;
    margin-top: 12px;
  }
}

.welcome-right-img {
  object-fit: contain;
  max-height: 350px;
  position: absolute;
  bottom: 0;
  right: 30px;
}

@media (max-width: 992px) {
  .welcome-banner{
    height: auto;
  }
  .welcome-banner .bnr-wlcm {
    font-size: 20px!important;
  }
  .welcome-banner .bnr-wlcm-nt {
    font-size: 14px!important;
  }
  .card-body {
    padding: 5px!important;
  }
}

@media (max-width: 1400px) {
  .welcome-right-img { display: none; }
  .welcome-banner .bnr-wlcm-nt { max-width: 100%; }
}

