
html, body {
    font-family: var(--font-quicksand), sans-serif;
    background-color: #f9faff!important;
    color: #212529;
    overflow-x: hidden;
    scroll-behavior: smooth !important;
}

hr {
    border: none;
    height: 1px;
    background-color: #fafafa !important;
    margin: 1rem 0;
    opacity: 0.1!important;
}

.text-purple {
    color: #6251ca !important;
}

.text-purple-secondary{
    color: #735dff !important;
}

.btn-purple {
    background-color: #6e5bd8!important;
    color: #fff!important;
    border: none;
    padding: 6px 16px;
    border-radius: 20px;
    font-weight: 500;
    transition: all 0.25s ease;

    &:hover {
        transition: all 0.5s ease;
        background-color: #5a49c7;
        transform: translateY(-2px);
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.18);
    }

    &:active {
        transform: translateY(0);
        box-shadow: none;
    }
}

.bg-purple{
    background: #6251ca!important;
}

.form-control:focus {
    border-color: #dee2e6 !important;
    box-shadow: none !important;
    outline: none !important;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #6C5DD3;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #5b4cc4;
}