.pg-title-bar {
    //background-color: #ffffff;
    padding: 5px 0px;
    //border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    //box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    margin: -10px 5px 10px 5px;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(227, 227, 227);

    .pg-title {
        font-size: 24px;
        font-weight: 700;
        color: rgba(45, 45, 45, 0.77);
        margin-bottom: 5px;
    }

    .pg-time {
        font-size: 16px;
        font-weight: 600;
        color: rgba(124, 124, 124, 0.8);
        text-align: right;
        min-width: 180px;
    }
}

/* --- Mobile / Responsive --- */
@media (max-width: 768px) {
    .pg-title-bar {
        flex-direction: column;
        align-items: flex-start;

        .pg-title {
            font-size: 20px;
        }

        .pg-time {
            font-size: 14px;
            text-align: left;
            margin-top: 5px;
            min-width: auto;
        }
    }
}