.pagination-container {
    .pagination {
        gap: 6px;
        .page-item {
            .page-link {
                border: 1px solid rgba(107, 114, 128, 0.21);
                border-radius: 8px;
                padding: 8px 14px;
                background: #ffffff;
                color: #8677ed;
                font-weight: bolder;
                &:hover { background: #eeeaff; }
            }
            &.active .page-link {
                background: #8677ed;
                color: white;
            }
        }
    }
}